.sec3 {
    height: 100vh;
    background: rgb(27, 27, 27);
    width: 100%;

}

.sec3 .about-container{
    height: 100vh;
    width: 85%;
    margin: auto;

    /* grid */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.sec3 .about-container > .myimg img{
    height: 100%;
    width: 100%;
}
.sec3 .about-container > .myimg{
    grid-column: 1/2;
    height: 400px;
    width: 100%;
}

.sec3 .about-container > .about-content{
    grid-column: 2/3;
    width: 450px;
    height:300px;

    justify-self: center;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 30px;
}


.sec3 .about-container > .about-content h3{
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
    font-weight: 10;

    color: white;
}

.sec3 .about-container > .about-content h3::selection{
    color: white;
    background: black;
}

.sec3 .about-container > .about-content span{
    font-family: 'Passion One', cursive;
    font-size: 35px;
    color: white;
}

.sec3 .about-container > .about-content span::selection{
    color: white;
    background: black;
}

.sec3 .about-container > .about-content p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: grey;
}
.sec3 .about-container > .about-content p::selection {
    background: black;
    color: white;
}
.sec3 .about-container > .about-content .two{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: grey;
}



.sec3 .about-container > .about-content .button-hire > .button-main{
    transition: all 300ms ease-in;


    position: relative;
}
.sec3 .about-container > .about-content .button-hire > .button-main > .btn1{
    transition: all 300ms ease-in;
    height: 100%;
    width: 100%;
}
.sec3 .about-container > .about-content .button-hire > .button-main:hover > .btn1{
    opacity: 0;
}
.sec3 .about-container > .about-content .button-hire > .button-main:hover > .btn2{
    transform: scale(1);
}

.sec3 .about-container > .about-content .button-hire > .button-main > .btn2{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transition: all 200ms ease-in;
    transform: scale(0);
    /* transform-origin: left; */
}






.sec3 .about-container > .about-content .button-hire {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 220px;
}

.sec3 .about-container > .about-content .button-hire button{
    border: none;
    color: white;
    background: #96a348;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
    font-size: 15px;
}

.sec3 .about-container > .about-content .button-hire button::selection{
    background: black;
    color: white;
}

.sec3 .about-container > .about-content .button-hire button:hover{
    background: #a6b83f;
}


@media (max-width: 1119px) and (min-width: 992px) {

  .main  .sec3 {
        height: 100vh;
        background: rgb(27, 27, 27);
        width: 100%;

      
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .sec3 .about-container{
        height: 100vh;
        width: 95%;
  
    
        /* grid */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 20px;
    }

}


@media (max-width: 991px) and (min-width: 758px) {
    .main  .sec3 {
        height: 150vh;
        background: rgb(27, 27, 27);
        width: 100%;
     
      
display: grid;

    }

    .sec3 .about-container{
        height: 100%;
        width: 750px;
        align-self: center;

        /* grid */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
     
        row-gap: 10px;
    }

    .sec3 .about-container > .myimg{
        grid-column: 1/2;
        grid-row: 1/2;
        /* height: 400px; */
        height: 400px;
        width: 659px;
        justify-self: center;
        align-self: end;
    }
    .sec3 .about-container > .myimg img{
        height: 100%;
        width: 100%;
    }
    .sec3 .about-container > .about-content{
        grid-column: 1/2;
        grid-row: 2/3;
        width: 659px;
        height:295px;
    

    
        /* flex */
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        padding-bottom: 40px;
    }
}



@media (max-width: 767px) and (min-width: 612px) {
    .main  .sec3 {
        height: 160vh;
        background: rgb(27, 27, 27);
        width: 100%;
     
      


    }

    .sec3 .about-container{
        height: 100%;
        width: 90%;
        align-self: center;

        /* grid */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
     
        row-gap: 10px;
    }

    .sec3 .about-container > .myimg{
        grid-column: 1/2;
        grid-row: 1/2;
        /* height: 400px; */
        height: 400px;
        width: 500px;
        justify-self: center;
        align-self: end;
    }
    .sec3 .about-container > .myimg img{
        height: 100%;
        width: 100%;
    }
    .sec3 .about-container > .about-content{
        grid-column: 1/2;
        grid-row: 2/3;
        width: 500px;
        height:295px;
    

    
        /* flex */
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        padding-bottom: 40px;
    }

}

@media (max-width: 612px)  {

    .main  .sec3 {
        height: 160vh;
        background: rgb(27, 27, 27);
        width: 100%;
     
      


    }

    .sec3 .about-container{
        height: 100%;
        width: 90%;
        align-self: center;

        /* grid */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
     
        row-gap: 10px;
    }

    .sec3 .about-container > .myimg{
        grid-column: 1/2;
        grid-row: 1/2;
        /* height: 400px; */
        height: 400px;
        width: 100%;
        justify-self: center;
        align-self: end;
    }
    .sec3 .about-container > .myimg img{
        height: 100%;
        width: 100%;
    }
    .sec3 .about-container > .about-content{
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%;
        height:68%;
    

    
        /* flex */
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        padding-bottom: 40px;
    }

}

@media (max-width: 377px)  {

    .main  .sec3 {
        height: 170vh;
        background: rgb(27, 27, 27);
        width: 100%;
     
      


    }

    .sec3 .about-container{
        height: 100%;
        width: 90%;
        align-self: center;

        /* grid */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
     
        row-gap: 20px;
    }
    .sec3 .about-container > .about-content{
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%;
        height:85%;
    

    
        /* flex */
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        padding-bottom: 40px;
    }
}




/* 2nd about */

.main .client{
    height: 110vh;
    background: rgb(27, 27, 27);

    /* grid */
    display: grid;
    grid-template-rows: 20% 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 45px;
}

.main .client .client-title{
    grid-row: 1/2;
    grid-column: 1/2;
    height: 100px;
    width: 400px;
    align-self: end;

    display: flex;
    align-items: center;
    justify-content: center;

}



.main .client .client-title h3{
font-size: 45px;
font-family: 'Raleway', sans-serif;
font-weight: 10;
font-size: 33px;
color: white;
}
.main .client .client-title h3::selection{
    color: white;
    background: black;
}
.main .client .client-title span{
    font-family: 'Passion One', cursive;
font-size: 35px;
color: white;
}

.main .client .client-title span::selection{
    color: white;
    background: black;
}





.main .client .message-container{
    justify-self: center;
    align-self: start;
    grid-row: 2/3;
    grid-column: 1/2;
   
    height: 90%;
    width: 1100px;


    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main .client .message-container .text-box{
    height: 210px;
    width: 520px;


    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
 

}

.main .client .message-container .text-box .profile{
    grid-column: 1/2;
    grid-row: 1/2;
    height: 70px;
    width: 70px;

left: 0;


}
.main .client .message-container .text-box .profile img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.main .client .message-container .text-box .mess{
    grid-column: 2/3;
    grid-row: 1/2;
    background: rgba(51, 51, 51);
    height: 100%;
    border-radius: 10px;
    position: relative;
}

.main .client .message-container .text-box .mess p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: gray;

    margin: 20px;

}

.main .client .message-container .text-box .mess span{
    color: #96a348;
}

.main .client .message-container .text-box .mess .arr{

    /* color: rgba(51, 51, 51); */


    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid rgba(51, 51, 51);
    border-top: 10px solid rgba(51, 51, 51);
    border-bottom: 10px solid transparent;

    position: absolute;
    top: 28px;
    left: 0;
 
    transform: translate(-100%);

}

@media (max-width: 1200px) and (min-width: 962px) {

    
.main .client{
    height: 130vh;
    background: rgb(27, 27, 27);

    /* grid */
    display: grid;
    grid-template-rows: 18% 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 50px;
}
.main .client .client-title{
    grid-row: 1/2;
    grid-column: 1/2;
    height: 69px;
    width: 400px;
    align-self: end;

    display: flex;
    align-items: center;
    justify-content: center;

}
    
.main .client .message-container{
    align-self: start;
    grid-row: 2/3;
    grid-column: 1/2;

    height: 100%;
    width: 890px;


    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main .client .message-container .text-box{
    height: 270px;
    width: 420px;


    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr;
 

}
}

@media (max-width: 962px) and (min-width: 776px) {

    
.main .client{
    height: 150vh;
    background: rgb(27, 27, 27);

    /* grid */
    display: grid;
    grid-template-rows: 10% 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 60px;
}
.main .client .client-title{
    grid-row: 1/2;
    grid-column: 1/2;
    height: 60px;
    width: 400px;
    align-self: end;

    display: flex;
    align-items: center;
    justify-content: center;

}
    .main .client .message-container{
        grid-row: 2/3;
        grid-column: 1/2;
        align-self: start;
        height: 95%;
        width: 720px;
    
    
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .main .client .message-container .text-box{
        height: 330px;
        width: 330px;
    
    
        display: grid;
        grid-template-columns: 28% 72%;
        grid-template-rows: 1fr;
     
    
    }
    .main .client .message-container .text-box .mess{
        grid-column: 2/3;
        grid-row: 1/2;
        background: rgba(51, 51, 51);
        height: 100%;
        width: 100%;
        border-radius: 10px;
        position: relative;
    }


    

}

@media (max-width: 775px) and (min-width: 514px) {

    .main .client{
        height: 200vh;
        background: rgb(27, 27, 27);

        /* grid */
        display: grid;
        grid-template-rows: 15% 85%;
        grid-template-columns: 1fr;
        justify-items: center;
        align-self: center;
    }
    
        .main .client .message-container{

            grid-row: 2/3;
            grid-column: 1/2;
            align-self:start;
            height: 90%;
            width: 90%;
        
           
        }
        .main .client .message-container .text-box{
            height: 210px;
            width: 100%;
            
        
            display: grid;
            grid-template-columns: 100px 1fr;
            grid-template-rows: 1fr;
         
        
        }
        .main .client .message-container .text-box .mess{
            grid-column: 2/3;
            grid-row: 1/2;
            background: rgba(51, 51, 51);
            height: 100%;
            width: 100%;
            border-radius: 10px;
            position: relative;
        }
    
    
        
    .main .client .client-title{
        grid-row: 1/2;
        grid-column: 1/2;
        height: 100%;
        width: 400px;
        
    }
}

@media (max-width: 514px)  and (min-width: 419px){
    .main .client{
        height: 250vh;
        background: rgb(27, 27, 27);

        /* grid */
        display: grid;
        grid-template-rows: 10% 90%;
        grid-template-columns: 1fr;
        justify-items: center;
        align-self: center;
    }
    
        .main .client .message-container{

            grid-row: 2/3;
            grid-column: 1/2;
            align-self:start;
            height: 90%;
            width: 90%;
        
        }
        .main .client .message-container .text-box{
            height: 210px;
            width: 100%;
            
        
            display: grid;
            grid-template-columns: 100px 60vw;
            grid-template-rows: 1fr;
         
        
        }
        .main .client .message-container .text-box .mess{
            grid-column: 2/3;
            grid-row: 1/2;
            background: rgba(51, 51, 51);
            height: 100%;
            width: 100%;
            border-radius: 10px;
            position: relative;
        }
    
    
        
    .main .client .client-title{
        grid-row: 1/2;
        grid-column: 1/2;
        height: 100%;
        width: 400px;
        align-self: end;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
    }

}


@media (max-width: 419px)  and (min-width: 305px){
    .main .client{
        height: 350vh;
        background: rgb(27, 27, 27);

        /* grid */
        display: grid;
        grid-template-rows: 10% 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
        align-self: center;
        row-gap: 50px;
    }
    
        .main .client .message-container{
   
            grid-row: 2/3;
            grid-column: 1/2;
            align-self:start;
            height: 100%;
            width: 95%;
        
        }
        .main .client .message-container .text-box{
            height: 210px;
            width: 100%;
              
            display: grid;
            grid-template-columns: 100px 55vw;
            grid-template-rows: 1fr;
         
        
        }
        .main .client .message-container .text-box .mess{
            grid-column: 2/3;
            grid-row: 1/2;
            background: rgba(51, 51, 51);
            height: 100%;
            width: 100%;
            border-radius: 10px;
            position: relative;
        }
    
    
        
    .main .client .client-title{
        grid-row: 1/2;
        grid-column: 1/2;

        width: 90%;
        align-self: end;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
}

@media (max-width: 305px){
    .main .client{
        height: 450vh;
        background: rgb(27, 27, 27);

        /* grid */
        display: grid;
        grid-template-rows: 10% 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
        align-self: center;
    }
    
        .main .client .message-container{
   
            grid-row: 2/3;
            grid-column: 1/2;
            align-self:start;
            height: 100%;
            width: 95%;
        
        }
        .main .client .message-container .text-box{
            height: 210px;
            width: 100%;
              
            display: grid;
            grid-template-columns: 100px 50vw;
            grid-template-rows: 1fr;
         
        
        }
        .main .client .message-container .text-box .mess{
            grid-column: 2/3;
            grid-row: 1/2;
            background: rgba(51, 51, 51);
            height: 100%;
            width: 100%;
            border-radius: 10px;
            position: relative;
        }
    
    
        
    .main .client .client-title{
        grid-row: 1/2;
        grid-column: 1/2;
        
        width: 90%;
        align-self: end;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
}